ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  li {
    list-style: none;
    margin: 8px;
    width: 100%;
    flex-basis: 100%;
    padding: 4px;
    text-align: center;
    border: 1px solid #0001;

    &:hover {
      background: #0001;
    }

    &.selected {
      border: 1px solid #000;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  th {
    width: 12ch;
    .small {
      width: 8ch;
    }
  }

  td {
    padding: 4px 8px;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }

  tr:nth-child(2n) {
    background: #0001;
  }
}
