<div>STUFF</div>
<nav></nav>
<router-outlet></router-outlet>

<!-- <ul>
  <li (click)="setCategory()" [class.selected]="selectedCategory === undefined">All</li>
  <li *ngFor="let category of categories | keyvalue" (click)="setCategory(category.key)" [class.selected]="category.key === selectedCategory">
    {{ category.key }}
  </li>
</ul>
<table>
  <thead>
    <th>Id</th>
    <th class="left">Name</th>
    <th>Category</th> -->
<!-- <th>Ref</th> -->
<!-- <th class="small">Has Template?</th>
    <th class="right" (click)="setSortKey('price')">Price</th>
    <th class="right" (click)="setSortKey('templateCost')">Template Cost</th>
    <th class="right" (click)="setSortKey('profit')">Profit</th>
    <th class="right" (click)="setSortKey('profitPerTime')">Profit per Time</th> -->
<!-- <th>Profit Flaws</th> -->
<!-- </thead>
  <tbody>
    <tr *ngFor="let item of mappedItems">
      <td class="center">{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td class="center">{{ item.category }}</td> -->
<!-- <td>{{ item.ref }}</td> -->
<!-- <td class="center">{{ item.hasTemplate ? 'Y' : 'N'}}</td>
      <td class="right">{{ item.price | number:'1.2-2' }}</td>
      <td class="right">{{ item.templateCost | number:'1.2-2'}}</td>
      <td class="right">{{ item.profit | number:'1.2-2' }}</td>
      <td class="right">{{ item.profitPerTime | number:'1.2-2' }}</td> -->
<!-- <td>
        <ng-container *ngIf="item.missingCost.length > 0">Costs: {{ item.missingCost }}</ng-container>
        <ng-container *ngIf="item.missingObject.length > 0">Objects: {{ item.missingObject }}</ng-container>
      </td> -->
<!-- </tr>
  </tbody>
</table> -->
